<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin_ModifierMedecin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/AdminViews.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
</head>

<body>

<nav class="navbar navbar-default">
    <p class="navbar-text"><a th:href="@{/Index}">Accueil</a></p>
    <ul class="nav navbar-nav navbar-right">
        <li><a th:href="@{/AdminViewsPatient}">Patients</a></li>
        <li><a th:href="@{/AdminViewsMedicin}">Médecins</a></li>
        <li><a th:href="@{/AdminViewsClinique}">Clinique</a></li>
    </ul>
</nav>
<div class="container">


    <h2>Modifier un compte medecin</h2><br>
    <form th:action="@{/ComptePatient}" th:object="${patient}" method="post" id="patientRegistrationForm">

        <!-- Section Informations Personnelles -->
        <div class="row">
            <div class="col-md-2"><h5>Informations Personnelles</h5></div>
            <div class="col-md-10">
                <div class="form-group">
                    <label for="prenom">Prénom</label>
                    <input type="text" class="form-control" id="prenom" th:field="*{firstName}" placeholder="Prénom" name="prenom">
                    <div id="userPrenomCheck" class="errorForm">Entrez le prénom.</div>
                </div>
                <div class="form-group">
                    <label for="nom">Nom</label>
                    <input type="text" class="form-control" id="nom" th:field="*{lastName}" placeholder="Nom" name="nom">
                    <div id="userCheck" class="errorForm">Entrez le nom.</div>
                </div>
                <div class="form-group">
                    <label for="specialite">Spécialité</label>
                    <input type="text" class="form-control" id="specialite" th:field="*{speciality}" placeholder="Spécialité" name="specialite">
                    <div id="specialiteCheck" class="errorForm">Entrez la profession (spécialité).</div>
                </div>
                <div class="form-group">
                    <label for="noLicence">Numéro de licence</label>
                    <input type="text" class="form-control" id="noLicence" th:field="*{professionalNumber}" placeholder="Numéro de licence" name="username">
                    <div id="noLicenceCheck" class="errorForm">Entrez le numéro de licence.</div>
                </div>
            </div>
        </div>


        <!-- Tarif de consultation -->
        <div class="row">
            <div class="col-md-2"><h5>Tarif de consultation</h5></div>
            <div class="col-md-10">
                <div class="form-group">
                    <label for="tarif">Tarif de consultation</label>
                    <input type="number" class="form-control" id="tarif" th:field="*{expectedSalary}" placeholder="Tarif de consultation" name="tarif" min="0" step="5.00">
                    <div id="tarifCheck" class="errorForm"></div>
                </div>
            </div>
        </div>


        <!-- Coordonnées -->
        <div class="row">
            <div class="col-md-2"><h5>Coordonnées</h5></div>
            <div class="col-md-10">
                <div class="form-group">
                    <label for="phoneNumber">Numéro de téléphone</label>
                    <input type="text" class="form-control" id="phoneNumber" th:field="*{contactDetails.phoneNumber}" placeholder="Numéro de téléphone" name="phoneNumber">
                    <div id="phoneNumberCheck" class="errorForm">Entrez un numéro de téléphone valide pour les contacts professionnels.</div>
                </div>
                <div class="form-group">
                    <label for="email">Adresse courriel</label>
                    <input type="email" class="form-control" id="email" th:field="*{contactDetails.email}" placeholder="Adresse courriel" name="email">
                    <div id="courrielCheck" class="errorForm">Entrez une adresse courriel professionnelle valide.</div>
                </div>
            </div>
        </div>


        <!-- Clinique associée -->
        <div class="row">
            <div class="col-md-2"><h5>Clinique associée</h5></div>
            <div class="col-md-10">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="clinicsDropdown"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sélectionnez la clinique
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="clinicsDropdown">
                        <th:block th:each="clinic : ${clinics}">
                            <li>
                                <input type="radio" name="clinicIds" th:value="${clinic.id}"
                                       th:id="${'clinic' + clinic.id}" />
                                <label th:for="${'clinic' + clinic.id}"
                                       th:text="${clinic.name + ' (' + clinic.ministerialNumber + ')'}"></label>
                            </li>
                        </th:block>
                    </ul>
                </div>
                <div id="clinicsCheck" class="errorForm"></div>
            </div>
        </div>



        <!-- Adresse de la clinique principale -->
        <div class="row">
            <div class="col-md-2"><h5>Adresse de la clinique principale</h5></div>
            <div class="col-md-10">
                <div class="form-group">
                    <label for="noCivique"></label>
                    <input type="text" class="form-control" id="noCivique" th:field="*{contactDetails.noCivique}"
                           placeholder="Numéro civique" name="noCivique">
                    <div id="noCiviqueCheck" class="errorForm">
                        Entrez un numéro civique valide.
                    </div>
                </div>

                <div class="form-group">
                    <label for="rue"></label>
                    <input type="text" class="form-control" id="rue" th:field="*{contactDetails.rue}"
                           placeholder="Nom de la rue" name="rue">
                    <div id="rueCheck" class="errorForm">
                        Entrez un nom de rue valide.
                    </div>
                </div>

                <div class="form-group">
                    <label for="noLocal"></label>
                    <input type="text" class="form-control" id="noLocal" th:field="*{contactDetails.noLocal}"
                           placeholder="Numéro de local" name="noLocal">
                    <div id="noLocalCheck" class="errorForm">
                        Entrez un numéro de local valide.
                    </div>
                </div>

                <div class="form-group">
                    <label for="ville"></label>
                    <input type="text" class="form-control" id="ville" th:field="*{contactDetails.ville}"
                           placeholder="Ville" name="ville">
                    <div id="villeCheck" class="errorForm">
                        Entrez un nom de ville valide.
                    </div>
                </div>

                <div class="form-group">
                    <label for="codePostal"></label>
                    <input type="text" class="form-control" id="codePostal" th:field="*{contactDetails.codePostal}"
                           placeholder="Code postal" name="codePostal">
                    <div id="codePostalCheck" class="errorForm">
                        Entrez un code postal valide.
                    </div>
                </div>
            </div>
        </div>


        <!-- Informations de connexion -->
        <div class="row">
            <div class="col-md-2"><h5>Informations de connexion</h5></div>
            <div class="col-md-10">
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" class="form-control" id="password" placeholder="Mot de passe" name="password">
                    <div id="passCheck" class="errorForm">Le mot de passe doit contenir un minimum de 6 caractères, un minimum de 1 chiffre et un minimum de 1 caractère spéciale.</div>
                </div>
                <div class="form-group">
                    <label for="passwordConfirm">Confirmation du mot de passe</label>
                    <input type="password" class="form-control" id="passwordConfirm" placeholder="Confirmation du mot de passe" name="passwordConfirm">
                    <div id="passwordConfirmCheck" class="errorForm">Les mots de passe ne concordent pas.</div>
                </div>
            </div>
        </div>





        <input type="submit" id="submitbtn" value="Soumettre" class="btn btn-default">
    </form>


</div>

<script th:src="@{/javascript/CompteMedecin.js}"></script>
</body>

</html>