<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Page Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="AdminViews.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
</head>

<body>



<nav class="navbar navbar-default">
    <p class="navbar-text"><a href="Index.html">Accueil</a></p>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="AdminViewsPatient.html">Patients</a></li>
        <li><a href="AdminViewsMedicin.html">Médecins</a></li>
        <li><a href="AdminViewsClinique.html">Clinique</a></li>
    </ul>
</nav>



<div class="container">

    <h2>Liste des médecins</h2><br>
    <table id="myTable" class="table" data-toggle="table" data-pagination="true" data-search="true"
           data-sortable="true" data-locale="fr-FR" data-loading-message="">


            <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Specialité</th>
                <th>No. de licence</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="m:${listDoctors}">
                <td th:text="${m.id}"></td>
                <td th:text="${m.lastName}"></td>
                <td th:text="${m.firstName}"></td>
                <td th:text="${p.speciality}"></td>
                <td th:text="${p.professionalNumber}"></td>

                <td>
                    <a onclick="return confirm('Confirmer la supression?')" class="btn btn-danger" th:href="@{delete(id=${p.id}, keyword=${keyword},page=${currentPage} )}">
                        Supprimer
                    </a>
                </td>
                <td>
                    <a class="btn btn-success" th:href="@{/AdminEditMedicin(id=${m.id}, keyword=${keyword},page=${currentPage} )}">
                        Modifier
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.18.0/bootstrap-table.min.js"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.18.0/locale/bootstrap-table-fr-FR.min.js"></script>


<script src="CliniquePatients.js"></script>
</body>

</html>