<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">

<head>
    <title>Espace clinique - Fiche</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/CliniqueFiche.css}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- Timepicker CSS  -->
    <link rel="stylesheet" th:href="@{/jquery-timepicker-1.3.5/jquery.timepicker.css}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- Timepicker JS -->
    <script th:src="@{/jquery-timepicker-1.3.5/jquery.timepicker.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script th:src="@{/javascript/CliniqueFiche.js}"></script>
</head>

<body>

    <nav class="navbar navbar-default">
        <p class="navbar-text"><span th:text="${clinic.name}">Nom</span></p>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/clinics/CliniquePatients/{clinicId}(clinicId=${clinic.id})}">Liste des patients</a></li>
            <li><a th:href="@{/clinics/CliniqueMedecin/{clinicId}(clinicId=${clinic.id})}">Liste des médecins</a></li>
            <li><a th:href="@{CliniqueFiche}">Fiche de la clinique</a></li>
        </ul>
    </nav>
    <main>

    <a th:href="@{/Index}" class="image_container">
        <img src="/images/LogoPatientBlanc.png" alt="Logo Clinique Clic">
    </a>

    <div class="container">
        <form id="cliniqueForm" th:action="@{/clinics/update}" th:object="${clinic}" method="post">
            <h5 class="titre_donnee_modifiables_ou_non">Informations personnelles</h5>
            <div class="donnee_non_modifiables">
                <!-- Section Informations Personnelles -->
                <div class="row non_modifiable">
                    <div class="col-md-2 non_modifiable">
                        <h5 style="padding:2px;">Nom</h5>
                        <h5 style="padding:2px;">Numéro ministériel</h5>
                    </div>

                    <div class="col-md-10 ">
                        <input readonly  type="text" name="name" th:field="*{name}" />
                        <input readonly  type="text" name="ministerialNumber" th:field="*{ministerialNumber}" />
                        <input type="hidden" name="id" th:field="*{id}" />
                    </div>

                </div>
            </div>

            <h5 class="titre_donnee_modifiables_ou_non">Données modifiables</h5>
            <!-- Section Adresse -->
            <div class="row">
                <div class="col-md-2">
                    <h5>Adresse</h5>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <input type="text" class="form-control" id="noCivique" placeholder="Numéro civique"
                               name="noCivique" th:field="*{contactDetails.noCivique}" />
                        <div id="noCiviqueCheck" class="errorForm"></div>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" id="rue" placeholder="Nom de la rue" name="rue"
                               th:field="*{contactDetails.rue}" />
                        <div id="rueCheck" class="errorForm"></div>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" id="noLocal" placeholder="Numéro de local"
                               name="noLocal" th:field="*{contactDetails.noLocal}" />
                        <div id="noLocalCheck" class="errorForm"></div>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" id="ville" placeholder="Ville" name="ville"
                               th:field="*{contactDetails.ville}" />
                        <div id="villeCheck" class="errorForm"></div>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" id="codePostal" placeholder="Code Postal"
                               name="codePostal" th:field="*{contactDetails.codePostal}" />
                        <div id="codePostalCheck" class="errorForm"></div>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" id="phoneNumber" placeholder="Numéro de téléphone"
                               name="noTel" th:field="*{contactDetails.phoneNumber}" />
                        <div id="phoneNumberCheck" class="errorForm"></div>
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-control" id="email" th:field="*{contactDetails.email}" placeholder="Adresse courriel" name="email">
                        <div id="courrielCheck" class="errorForm">
                            Entrez une adresse courriel valide.
                        </div>
                    </div>

                </div>
            </div>


<br>
            <!-- Section services offerts -->
            <div class="row">
                <div class="col-md-3">
                    <label class="servicesTexte" for="servicesDropdown">Service(s) offert(s) par la clinique</label>
                </div>

            <div class="dropdown col-md-6">
                <button class="btn btn-default dropdown-toggle" type="button" id="servicesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Services
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="servicesDropdown">
                    <th:block th:each="service : ${allServices}">
                        <li>
                            <input type="checkbox" th:field="*{services}" th:value="${service}" th:id="${'service-' + service}" th:checked="${#lists.contains(clinicServices, service)}">
                            <label th:for="${'service-' + service}" th:text="${service}"></label>
                        </li>
                    </th:block>
                </ul>
            </div>
            <div id="servicesCheck" class="errorForm"></div>
            </div>

            <!-- Bouton de déconnection et soumettre -->
            <div class="row">
                <div class="col-md-3">
                    <!-- Espace vide pour l'alignement -->
                </div>
                <div class="col-md-3">
                    <button type="submit" id="submitbtn2" class="btn btn-default">Soumettre</button>
                </div>
                <div class="col-md-3">
                    <a th:href="@{/logout}" id="disconnectbtn" class="btn btn-default">Se déconnecter</a>
                </div>
            </div>

        </form>
    </div>


    </main>

</body>

</html>