<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">

<head>
    <title>Espace clinique</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/CliniqueMedecin.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
</head>

<body>


    <nav class="navbar navbar-default">
        <p class="navbar-text"><span th:text="${clinic.name}">Nom</span></p>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/clinics/CliniquePatients/{clinicId}(clinicId=${clinic.id})}">Liste des patients</a></li>
            <li><a th:href="@{/clinics/CliniqueMedecin/{clinicId}(clinicId=${clinic.id})}">Liste des médecins</a></li>
            <li><a th:href="@{/clinics/CliniqueFiche}">Fiche de la clinique</a></li>
        </ul>
    </nav>
<main>
    <a th:href="@{/Index}" class="image_container">
        <img src="/images/LogoPatientBlanc.png" alt="Logo Clinique Clic">
    </a>

    <div class="container">


        <table id="myTable" class="table" data-toggle="table" data-pagination="true" data-search="true"
            data-sortable="true" data-locale="fr-FR" data-loading-message="">
            <thead>
                <tr>
                    <th data-field="nom" data-sortable="true">Nom</th>
                    <th data-field="prenom" data-sortable="true">Prénom</th>
                    <th data-field="medecin" data-sortable="true">Numéro professionnel</th>
                    <th data-field="medecin" data-sortable="true">Spécialité</th>
                    <th data-field="medecin" data-sortable="true">Tarif($)</th>
                </tr>
            </thead>
            <tbody>
            <tr th:if="${doctors.isEmpty()}">
                <td colspan="5">Aucun patient lié.</td>
            </tr>
            <tr th:each="doctor : ${doctors}" th:unless="${doctors.isEmpty()}">
                <td th:text="${doctor.lastName}"></td>
                <td th:text="${doctor.firstName}"></td>
                <td th:text="${doctor.professionalNumber}"></td>
                <td th:text="${doctor.speciality}"></td>
                <td th:text="${doctor.expectedSalary}"></td>
            </tr>
            </tbody>
        </table>


        <a th:href="@{/logout}" id="disconnectbtn" class="btn btn-default">Se déconnecter</a>
    </div>

</main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.18.0/bootstrap-table.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.18.0/locale/bootstrap-table-fr-FR.min.js"></script>


 <!-- <script src="@{/javascript/}"></script> -->
</body>

</html>