<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">

<head>
    <title>Clinique clic - Créer une compte clinique</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/CompteClinique.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



</head>

<body>

<a th:href="@{/Index}" id="logoContainer">
    <img src="/images/LogoCliniqueBlanc.png" alt="LogoPatientBlanc">
</a>

    <div class="container">

        <h2>Créer un compte clinique</h2>

        <form th:action="@{/CompteClinique}" th:object="${clinic}" method="post" id="registrationForm">

            <!-- Section Informations Personnelles -->
            <div class="row">
                <h5>Informations</h5>
            </div>

            <div class="form-group">
                <label for="nom"></label>
                <input type="text" class="form-control"
                id="nom" th:field="*{name}" placeholder="Nom" name="nom">
                <div id="usercheck" class="errorForm">
                    Enter le nom de la clinique.
                </div>
            </div>

            <div class="form-group">
                <label for="cliniqueId"></label>
                <input type="text" class="form-control" id="cliniqueId"  th:field="*{ministerialNumber}"
                    placeholder="Numéro d'identifiant ministériel" name="cliniqueId">
                <div id="cliniqueIdCheck" class="errorForm">
                    Entrer le numéro de la clinique.
                </div>
            </div>

            <div class="form-group col">
                <label for="phoneNumber"></label>
                <input type="text" class="form-control" id="phoneNumber" th:field="*{contactDetails.phoneNumber}" placeholder="Numéro de téléphone" name="phoneNumber">
                <div id="phoneNumberCheck" class="errorForm">
                    Entrez un numéro de téléphone valide pour les contacts professionnels. (ajouter le poste si nécessaire).
                </div>
            </div>

            <div class="form-group">
                <label for="email"></label>
                <input type="email" class="form-control" id="email" th:field="*{contactDetails.email}" placeholder="Adresse courriel" name="email">
                <div id="courrielCheck" class="errorForm">
                    Entrez une adresse courriel professionnelle valide.
                </div>
            </div>

            <div class="row">
                <label class="servicesTexte" for="servicesDropdown">Service(s) offert(s) par la clinique</label>
                </div>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="servicesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Services
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="servicesDropdown">
                        <li><input type="checkbox" th:field="*{services}" name="services" value="Dermatologie" id="dermatologie"><label for="dermatologie"> Dermatologie</label></li>
                        <li><input type="checkbox" th:field="*{services}" name="services" value="Cardiologie" id="cardiologie"><label for="cardiologie"> Cardiologie</label></li>
                        <li><input type="checkbox" th:field="*{services}" name="services" value="Gynécologie" id="gynecologie"><label for="gynecologie"> Gynécologie</label></li>
                        <li><input type="checkbox" th:field="*{services}" name="services" value="Orthopédie" id="orthopedie"><label for="orthopedie"> Orthopédie</label></li>
                        <li><input type="checkbox" th:field="*{services}" name="services" value="Ophtalmologie" id="ophtalmologie"><label for="ophtalmologie"> Ophtalmologie</label></li>
                        <li><input type="checkbox" th:field="*{services}" name="services" value="Oto-rhino-laryngologie" id="orl"><label for="orl"> Oto-rhino-laryngologie (ORL)</label></li>
                        <li><input type="checkbox" th:field="*{services}" name="services" value="Psychiatrie" id="psychiatrie"><label for="psychiatrie"> Psychiatrie</label></li>
                        <li><input type="checkbox" th:field="*{services}" name="services" value="Radiologie" id="radiologie"><label for="radiologie"> Radiologie</label></li>
                        <li><input type="checkbox" th:field="*{services}" name="services" value="Endocrinologie" id="endocrinologie"><label for="endocrinologie"> Endocrinologie</label></li>
                        <li><input type="checkbox" th:field="*{services}" name="services" value="Urologie" id="urologie"><label for="urologie"> Urologie</label></li>
                        <li><input type="checkbox" th:field="*{services}" name="services" value="Neurologie" id="neurologie"><label for="neurologie"> Neurologie</label></li>
                        <li><input type="checkbox" th:field="*{services}" name="services" value="Gastro-entérologie" id="gastroenterologie"><label for="gastroenterologie"> Gastro-entérologie</label></li>
                        <li><input type="checkbox" th:field="*{services}" name="services" value="Chirurgie générale" id="chirurgieGenerale"><label for="chirurgieGenerale"> Chirurgie générale</label></li>
                        <li><input type="checkbox" th:field="*{services}" name="services" value="Anesthésiologie" id="anesthesiologie"><label for="anesthesiologie"> Anesthésiologie</label></li>
                        <li><input type="checkbox" th:field="*{services}" name="services" value="Kinésithérapie" id="kinesitherapie"><label for="kinesitherapie"> Kinésithérapie</label></li>
                        <li><input type="checkbox" th:field="*{services}" name="services" value="Dentisterie" id="dentisterie"><label for="dentisterie"> Dentisterie</label></li>
                        <li><input type="checkbox" th:field="*{services}" name="services" value="Oncologie" id="oncologie"><label for="oncologie"> Oncologie</label></li>
                        <li><input type="checkbox" th:field="*{services}" name="services" value="Immunologie" id="immunologie"><label for="immunologie"> Immunologie</label></li>
                    </ul>

                </div>
                <div id="servicesCheck" class="errorForm"></div>

            <div class="row">
                <h5>Adresse</h5>
            </div>


            <div class="form-group">
                <label for="noCivique"></label>
                <input type="text" class="form-control" id="noCivique" th:field="*{contactDetails.noCivique}" placeholder="Numéro civique"
                       name="noCivique">
                <div id="noCiviqueCheck" class="errorForm">
                    Entrez un numéro civique valide.
                </div>
            </div>

            <div class="form-group">
                <label for="rue"></label>
                <input type="text" class="form-control" id="rue" th:field="*{contactDetails.rue}" placeholder="Nom de la rue" name="rue">
                <div id="rueCheck" class="errorForm">
                    Entrez un nom de rue valide.
                </div>
            </div>

            <div class="form-group">
                <label for="noLocal"></label>
                <input type="text" class="form-control" id="noLocal" th:field="*{contactDetails.noLocal}" placeholder="Numéro de local"
                       name="noLocal">
                <div id="noLocalCheck" class="errorForm">
                    Entrez un numéro de local valide.
                </div>
            </div>

            <div class="form-group">
                <label for="ville"></label>
                <input type="text" class="form-control" id="ville" th:field="*{contactDetails.ville}" placeholder="Ville" name="ville">
                <div id="villeCheck" class="errorForm">
                    Entrez un nom de ville valide.
                </div>
            </div>

            <div class="form-group">
                <label for="codePostal"></label>
                <input type="text" class="form-control" id="codePostal" th:field="*{contactDetails.codePostal}" placeholder="Code postal"
                       name="codePostal">
                <div id="codePostalCheck" class="errorForm">
                    Entrez un code postal valide.
                </div>
            </div>

            <div class="row">
                <h5>Informations de connexion</h5>
            </div>

            <div class="form-group">
                <label for="password"></label>
                <input type="password" class="form-control" id="password" placeholder="Mot de passe" name="password">
                <div id="passcheck" class="errorForm">Le mot de passe doit être composé d'un minimum de 6 caractères, de 1 chiffre et de 1 caractère spécial.</div>
            </div>

            <div class="form-group">
                <label for="passwordConfirm"></label>
                <input type="password" class="form-control" id="passwordConfirm"
                       placeholder="Confirmation du mot de passe" name="passwordConfirm">
                <div id="passwordConfirmCheck" class="errorForm">
                    Les mots de passe ne concordent pas.
                </div>

            </div>

            <input type="submit" id="submitbtn" value="Soumettre" class="btn btn-default">

        </form>


        <p class="no-account">Vous avez déjà un compte? <a th:href="@{/login}" class="signup-link">Se connecter</a></p>

    </div>

    <script th:src="@{/javascript/CompteClinique.js}"></script>


</body>

</html>