<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Liste des cliniques</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/CliniquePatients.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
</head>

<body>


    <nav class="navbar navbar-default">
        <p class="navbar-text">Patient Très-Patient</p>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="PatientFiche.html">Compte et documents</a></li>
            <li><a href="PatientMessage.html">Rendez-vous</a></li> 
            <li><a href="PatientClinique.html">Liste des cliniques</a></li>        
        </ul>
    </nav>

    <a href="/templates/Index.html">
        <img src="/Images/LogoPatientBlanc.png" alt="Logo Clinique Clic">
    </a>

    <div class="container">


        <table id="myTable" class="table" data-toggle="table" data-pagination="true" data-search="true"
            data-sortable="true" data-locale="fr-FR" data-loading-message="">
            <thead>
                <tr>
                    <th data-field="nom" data-sortable="true">Nom</th>
                    <th data-field="service" data-sortable="true">Services</th>
                    <th data-field="noTel" data-sortable="true">Numéro de téléphone</th>
                    <th data-field="professionel" data-sortable="true">Adresse</th>
                </tr>
            </thead>
            <tbody>

                <tr th:each="clinique : ${cliniques}">
                    <td th:text="${clinique.nom}">Nom de la clinique</td>
                    <td th:text="${clinique.services}">Services</td>
                    <td th:text="${clinique.noTel}">Numréro de téléphone</td>
                    <td>
                        <a th:href="@{'https://www.google.com/maps/search/?api=1&query=' 
                        + ${clinique.adresse}}" target="_blank" th:text="${clinique.adresse}">Adresse</a>
                    </td>
                </tr>
                <tr>
                    <td>Clinique A</td>
                    <td>Vaccins, medecine familiale</td>
                    <td>514-555-5555</td>
                    <td>123 rue, local1, Montréal, Qc</td>
                </tr>
                <tr>
                    <td>Clinique B</td>
                    <td>Vaccins, medecine familiale</td>
                    <td>514-555-5555</td>
                    <td>456 rue, local1, Montréal, Qc</td>
                </tr>
                <tr>
                    <td>Clinique C</td>
                    <td>Vaccins, medecine familiale</td>
                    <td>514-555-5555</td>
                    <td>789 rue, local1, Montréal, Qc</td>
                </tr>
                <tr>
                    <td>Clinique D</td>
                    <td>Vaccins, medecine familiale</td>
                    <td>514-555-5555</td>
                    <td>657 rue, local1, Montréal, Qc</td>
                </tr>
                <tr>
                    <td>Clinique E</td>
                    <td>Vaccins, medecine familiale</td>
                    <td>514-555-5555</td>
                    <td>321 rue, local1, Montréal, Qc</td>
                </tr>
            </tbody>
        </table>


        <button type="submit" id="submitbtn" class="btn btn-default">Se déconnecter</button>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.18.0/bootstrap-table.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.18.0/locale/bootstrap-table-fr-FR.min.js"></script>


    <script src="/javascript/"></script>
</body>

</html>