<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">

<head>
    <title>Espace patient - Fiche</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" th:href="@{/css/PatientFiche.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script th:src="@{/javascript/PatientFiche.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-default">
        <p class="navbar-text">Bienvenue <span th:text="${patient.firstName}">Prénom</span> <span th:text="${patient.lastName}">Nom</span></p>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{PatientFiche}">Compte et documents</a></li>
            <li><a th:href="@{EspaceConsultation}">Rendez-vous</a></li>
            <li><a th:href="@{PatientClinique}">Liste des cliniques</a></li>
        </ul>
    </nav>
    <main>

    <a th:href="@{/Index}" class="image_container">
        <img src="/images/LogoPatientBlanc.png" alt="Logo Clinique Clic">
    </a>

    <div class="container">
        <form id="patientForm" th:action="@{/patients/update}" th:object="${patient}" method="post">

            <h5 class="titre_donnee_modifiables_ou_non">Informations personnelles</h5>
            <div class="donnee_non_modifiables">
                <!-- Section Informations Personnelles -->
                <div class="row non_modifiable">
                    <div class="col-md-2 non_modifiable">
                            <h5 style="padding:2px;">Prénom</h5>
                            <h5 style="padding:2px;">Nom</h5>
                            <h5 style="padding:2px;">#Ass. Maladie</h5>
                            <h5 style="padding:2px;">#Séquentiel</h5>
                            <h5 style="padding:2px;">Date Naissance</h5>
                        </div>

                    <div class="col-md-10 ">
                        <input readonly  type="text" name="firstName" th:field="*{firstName}" />
                        <input readonly  type="text" name="lastName" th:field="*{lastName}" />
                        <input readonly  type="text" name="healthInsuranceNumber" th:field="*{healthInsuranceNumber}" />
                        <input readonly  type="text" name="healthSequentialNumber" th:field="*{healthSequentialNumber}" />
                        <input readonly  type="text" name="dateBirth" th:field="*{dateBirth}" />
                        <input type="hidden" name="id" th:field="*{id}" />
                    </div>

                </div>
            </div>

            <h5 class="titre_donnee_modifiables_ou_non">Données modifiables</h5>
            <!-- Section Adresse -->
            <div class="row">
                <div class="col-md-2">
                    <h5>Adresse</h5>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <input type="text" class="form-control" id="noCivique" placeholder="Numéro civique"
                               name="noCivique" th:field="*{contactDetails.noCivique}" />
                        <div id="noCiviqueCheck" class="errorForm"></div>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" id="rue" placeholder="Nom de la rue" name="rue"
                               th:field="*{contactDetails.rue}" />
                        <div id="rueCheck" class="errorForm"></div>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" id="noLocal" placeholder="Numéro de local"
                               name="noLocal" th:field="*{contactDetails.noLocal}" />
                        <div id="noLocalCheck" class="errorForm"></div>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" id="ville" placeholder="Ville" name="ville"
                               th:field="*{contactDetails.ville}" />
                        <div id="villeCheck" class="errorForm"></div>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" id="codePostal" placeholder="Code Postal"
                               name="codePostal" th:field="*{contactDetails.codePostal}" />
                        <div id="codePostalCheck" class="errorForm"></div>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" id="phoneNumber" placeholder="Numéro de téléphone"
                               name="noTel" th:field="*{contactDetails.phoneNumber}" />
                        <div id="phoneNumberCheck" class="errorForm"></div>
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-control" id="email" th:field="*{contactDetails.email}" placeholder="Adresse courriel" name="email">
                        <div id="courrielCheck" class="errorForm">
                            Entrez une adresse courriel valide.
                        </div>
                    </div>

                </div>
            </div>

            <!-- Bouton de soumission -->
            <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-md-8">
                    <button type="submit" id="submitbtn" class="btn btn-default">Enregistrer les changements</button>
                </div>

            </div>

        </form>


        <!-- Section d'échange de documents -->
        <div class="row">
            <div class="col-md-3">
                <h5>Échange de documents</h5>
            </div>
            <div class="col-md-7">

                <h5 class="raison-consultation">Téléchargez les documents échangés avec votre médecin.</p>
                </h5>

                <!-- List of Documents -->
                <div class="document-list">
                    <div th:each="document : ${documents}" class="document-item">
                        <span class="document-title" th:text="${document}">Document Name</span>
                        <a th:href="@{/documents/{document}(document=${document})}" download
                            class="download-button">Télécharger</a> <br><br>
                    </div>
                </div>

            </div>
        </div>

        <!-- Bouton de soumission 2 et déconnection -->
        <div class="row">
            <div class="col-md-3">
            </div>

            <form class="col-md-8" th:action="@{/logout}" method="post">
                <input type="submit" value="Se déconnecter" id="disconnectbtn" class="btn btn-default"/>
            </form>

        </div>


    </div>



</main>
</body>

</html>